name: Deploy Dokka Documentation to GitHub Pages

on:
  push:
    tags:
      - 'v*' # Triggered when pushing a version tag (e.g., v1.0.0)

permissions:
  contents: write # Required for pushing to the gh-pages branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Generate Dokka HTML
        run: ./gradlew :verses:dokkaGenerateHtml

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./verses/build/dokka
          publish_branch: gh-pages
          force_orphan: true # This will ensure the branch only contains the docs and nothing else
